@import './reset.scss';
@import './modules/index.scss';

html {
	height: 100%;
}

body {
    background-repeat: no-repeat;
	background-size: cover;
}

#bigContainer {
	margin: 6.7em 0 0 0;
	min-width: 70em;
	height: 50%;
	overflow: hidden;
}

#videoContainer {
	width: 65%;
	height: 30%;
	margin: 0 0 0 2em;	
	display: inline-block;
	text-align: center;
}

p {
	cursor: default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}